<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Featuring Finder App</title>
        <link rel="stylesheet" type=text/css href="../static/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

    <body>
    
        
		<div class=page>
            
            <center>
            
  			<h1>Concertify</h1>
  			<div class=metanav>
                

    			<form id='input' method='post' action='index'>	
                    
                <h4>Concertify chooses an artist you follow on Spotify and shows your their next concert.</h4>    
                    
	  			<p>
					<input type="checkbox" name='features' value='Continue'>Lets do it.<br>
	    			<input type="submit" value="Submit">
	  			</p>
				</form>
                   
                    
  			</div>
            </center>    
		</div>
        
        <center><p> Using the Spotify API, Concertify pulls an artists you follow at random and displays their next concert. The goal for Concertify is to eventually link it also to the Stubhub API to pull a list of concerts of the artists you follow on Spotify, based on proximity of both distance and date.</p></center>

	</body>
</html>   