<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>ConcertiPy App</title>
        <link rel="stylesheet" type=text/css href="../static/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>

    <body>
    
        
		<div class=page>
            
            <center>
            
  			<h1>ConcertiPy Web App</h1>
 
                


                    
            <h4>ConcertiPy chooses an artist you follow on Spotify and shows your their next concert.</h4>    
            <p><a href="/login"><img src="../static/login.png"/></a></p>
                
                    

              
                   
                    

            </center>    
		</div>
        
        <center><p> Using the Spotify API, ConcertiPy pulls an artists you follow at random and displays their next concert. The goal for ConcertiPy is to eventually link to the Stubhub API also to pull a list of concerts of the artists you follow on Spotify, based on proximity of both distance and date.</p></center>

	</body>
</html>   